/* ---------- Global Class ---------- */

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  height: 100vh;
  width: 100vw;
}

* {
  box-sizing: border-box;
  color: white;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

a:link {
  text-decoration: none;
}

.bold {
  font-weight: 600;
}

.flex-col {
  display: flex;
  flex-direction: column;
}
.flex-row {
  display: flex;
  flex-direction: row;
}

form {
  display: flex;
  flex-direction: column;
}

/* -----x---- Global Class ----x----- */

/* ---------- Left Container ---------- */

.bg-container {
  height: 100%;
  min-width: 40%;
  background-image: url(img/bg.jpg);
  background-color: blueviolet;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  transform: scaleX(-1);
}

.logo-container {
  transform: scaleX(-1);
  background-color: rgb(0, 0, 0, 0.5);
  height: 8em;
  width: 100%;
  margin-top: 8em;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5em;
}

.logo-container img {
  width: 90px;
  aspect-ratio: 1;
}

.logo-container span {
  font-size: 3.8rem;
  font-family: Impact;
}

/* -----x---- Left Container ----x----- */

/* ---------- Right Container ---------- */

.right-container {
  height: 100%;
  min-width: 60%;
  justify-content: center;
  align-items: flex-start;
  background-color: rgb(31, 29, 29);
  z-index: 1;
  overflow-x: hidden;
}

.right-container > span {
  padding-inline: 3rem;
}

.main-text {
  font-size: 1.4rem;
  width: min(100%, 40em);
}

.main-text > p {
  margin-top: 2em;
  margin-bottom: 0;
}

.form {
  padding-inline: 3em;
  padding-bottom: 2em;
  margin-top: 3em;
  box-shadow: 0px 8px 8px -4px rgba(255, 255, 255, 0.1);
  width: 100%;
}

.form > span {
  font-size: 1.4rem;
}

.form div:first-of-type {
  margin-top: 2em;
}

.form div form {
  margin-right: 2em;
  margin-bottom: 0.8em;
}

.form div form label {
  font-family: sans-serif;
  font-size: 0.8rem;
  font-weight: lighter;
  color: rgba(204, 204, 204, 0.8);
}

.form div form input {
  width: 270px;
  border: 2px solid rgba(204, 204, 204, 0.15);
  border-radius: 3px;
  background: transparent;
}

.form div form input:focus {
  outline: none;
  border: 2px solid rgba(204, 204, 204, 0.15);
  box-shadow: 0 0 1px 2px rgba(189, 121, 121, 0.1);
}

.form div form input:invalid {
  outline: none;
  border: 2px solid rgba(189, 121, 121, 0.6);
  box-shadow: 0 0 1px 2px rgba(189, 121, 121, 0.2);
}

.pass-msg {
  opacity: 0;
  margin-top: 3px;
  font-size: 0.7rem;
  color: rgba(189, 121, 121, 1);
}

.button-container {
  padding-inline: 3em;
}

.btn-submit {
  margin: 3em 0 2em;
  padding: 1em 2.5em;
  border-radius: 8px;
  border: 2px solid rgb(193, 78, 78);
  background-color: rgb(193, 78, 78);
  font-size: 1.3rem;
}

.btn-submit:active {
  border: 2px solid rgb(193, 78, 78);
  background: transparent;
}

.button-container p {
  font-size: 1.1rem;
}

.button-container p a {
  color: rgb(193, 78, 78);
}

.button-container p a:hover {
  color: rgb(240, 100, 100)
}
.button-container p a:active {
  color: rgb(255, 151, 151)
}

}

/* -----x---- Right Container ----x----- */
